@model Booking2.Models.Rent

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Building)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Building.BuildingId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PricePerDays)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PricePerDays)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GuestWasHere)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GuestWasHere)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
