@model IEnumerable<MLZ_Sefer_Xheladini.Models.Rent>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BuildingTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerDaya)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuestWasHere)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BuildingTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerDaya)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuestWasHere)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
