@model Booking2.Models.Building

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Building</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BedCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BedCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Condition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PricePerDay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PricePerDay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HasWlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HasWlan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WlanPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WlanPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HasParking)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HasParking)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParkingPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParkingPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Space)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Space)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HasBalkony)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HasBalkony)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuildingType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuildingType.BuildingTypeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BuildingId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
